.about-division {
    margin-top: 20px;
}


.about-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.about-content {
    margin-left: 55px;
}

.about-name {
    color: #FC6119;
    display: inline-block;
    /* Keeps it inline but allows for block behavior in mobile view */
}

.about-heading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Mobile View */
@media (max-width: 768px) {
    .about-heading {
        font-size: 2rem;
        /* Adjust font size for mobile view if needed */
        text-align: left;
        /* Align text to the left on mobile */
    }

    .about-name {
        display: block;
        /* Forces the <span> to break onto a new line */
        margin-top: 10px;
        /* Optional: Adds space above the <span> */
    }
}

.about-content-para {
    font-size: 1.2rem;
    text-justify: justify;
}

.about-button {
    margin: 15px 0;
    padding: 12px 18px;
    border-radius: 13px;
    border: none;
    background-color: #f86724;
    color: var(--text-color);
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.about-button:hover {
    box-shadow: 5px 5px 8px white;
    transition: 0.4s ease-in-out;
    background-color: #ff5100;
}

.about-skills {
    margin-top: 20px;
}

.about-skills-heading {
    margin-bottom: 20px;
    text-align: left;
    /* Align skills heading to the left */
}

.about-skills-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 30%;
    gap: 100px;
}

/* Large Screens */
@media (max-width: 1300px) {
    .about-skills-grid {
        grid-template-columns: repeat(5, minmax(0, 1fr));
        width: 45%;
        gap: 45px;
    }
}

/* Medium Screens */
@media (max-width: 1024px) {
    .about-skills-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        width: 60%;
        gap: 50px;
    }
}

/* Small Screens */
@media (max-width: 768px) {
    .about-skills-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        width: 90%;
        gap: 20px;
    }

    .about-heading {
        font-size: 2rem;
        /* Adjust font size for mobile view if needed */
        text-align: left;
        /* Align text to the left on mobile */
    }

    .about-name {
        display: block;
        /* Forces the <span> to break onto a new line */
    }
}

/* Extra Small Screens */
@media (max-width: 480px) {
    .about-skills-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        width: 100%;
        gap: 10px;
    }
}

/* Hide about-image on mobile and tablet sizes */
.about-image {
    display: block;
}

@media (max-width: 1024px) {
    .about-image {
        display: none;
        /* Hide the image on tablet and smaller screens */
    }

    .about-parent {
        flex-direction: column;
        align-items: flex-start;
    }

    .about-content {
        margin-left: 1rem;
        width: 100%;
        /* Full width on smaller screens */
    }
}

.skills-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.skill-logo {
    padding: 5px;
    border-radius: 14%;
    background-color: rgb(135, 130, 130);
}

.skill-logo:hover {
    background-color: rgb(153, 148, 148);
    box-shadow: 5px 5px 8px black;
    transition: 0.5s ease-in;
    background-color: #b9d7e0;
}