.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

.footer {
    width: 99vw;
    margin-left: calc(-49vw + 49%);
    padding: 20px 30px;
    background-color: #1E1D1C;
    color: white;
    border-top: 2px solid #FC6119;
    box-sizing: border-box;
    position: relative;
}


.footer-content {
    display: flex;
    justify-content: space-evenly;
}

.pages-li {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-link-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h4 {
    font-size: 21px;
    font-weight: bolder;
    margin-bottom: 15px;

}

a {
    color: white;
}

a:active {
    color: #FC6119;
}

a:hover {
    color: #FC6119;
}