/* NavBar CSS */

.nav-bar-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    margin: 0;
}

/* NavBar Title */
.nav-bar-title {
    font-size: 24px;
    font-weight: bold;
    flex-shrink: 0;
}

/* NavBar List */
.nav-bar-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 45px;
    cursor: pointer;
    font-weight: bold;
    flex: 1;
}

.nav-bar-list ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-bar-list li {
    margin: 0 10px;
    color: white;
}

.nav-bar-list li:hover {
    color: #FC6119;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .nav-bar-parent {
        justify-content: space-between;
        padding: 0;
        /* Remove padding on mobile */
    }

    .nav-bar-title {
        margin: 0;
        /* Remove margin on mobile */
    }

    .nav-bar-title img {
        width: 100px;
        /* Adjust the size of the image for mobile */
        transition: width 0.5s ease;
    }

    .nav-bar-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 10px;
        background-color: #333;
        border-radius: 5px;
        padding: 10px;
        z-index: 1;
        width: 200px;
    }

    .nav-bar-list.open {
        display: flex;
    }

    .nav-bar-toggle {
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 30px;
        cursor: pointer;
        margin-left: auto;
        /* Align to the right */
    }

    .nav-bar-toggle:hover {
        color: #FC6119;
        transition: color 0.2s ease;
    }

    .nav-bar-toggle:focus {
        outline: none;
    }

    .nav-bar-list ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-bar-list li {
        margin: 10px 0;
        color: white;
        text-align: center;
    }

    .nav-bar-list li:hover {
        color: #FC6119;
    }
}

/* Desktop Styles */
@media (min-width: 769px) {
    .nav-bar-toggle {
        display: none;
    }

    .nav-bar-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}