.resume-body {
    background-color: transparent;
    backdrop-filter: blur(10px);
    margin-top: 40px;
}

.resume-action-buttons {
    display: flex;
    justify-content: center;
    gap: 120px;
    flex-wrap: wrap;
}

.resume-action-buttons {
    border-radius: 14px;
    padding: 55px 30px;
    margin: 2rem;
    box-shadow:
        5px 5px 10px rgba(0, 0, 0, 0.2),
        -5px -5px 10px rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    background: linear-gradient(to right, black, grey);
}

.resume-action-buttons:hover {
    box-shadow:
        8px 8px 16px rgba(0, 0, 0, 0.2),
        -8px -8px 16px rgba(255, 255, 255, 0.8);
    transition: 0.2s ease-in;

}

.resume-view-button,
.resume-download-button {
    padding: 16px;
    cursor: pointer;
    border: none;
    border-radius: 14px;
    font-weight: bolder;
}


.resume-download-button:hover {
    background-color: #FC6119;
    color: white;
    box-shadow: 4px 4px 7px black;
    transition: background-color 0.3s ease-in, color 0.3s ease-in, box-shadow 0.3s ease-in;
}

.resume-view-button:hover {
    background-color: #FC6119;
    color: white;
    box-shadow: 4px 4px 7px black;
    transition: background-color 0.3s ease-in, color 0.3s ease-in, box-shadow 0.3s ease-in;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-5px);
        /* Move 10px up */
    }

    50% {
        transform: translateY(0);
        /* Return to original position */
    }

    75% {
        transform: translateY(5px);
        /* Move 10px down */
    }

    100% {
        transform: translateY(0);
    }
}

.resume-view-button,
.resume-download-button {
    animation: bounce 1s infinite;
    will-change: transform;
}